@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BHamid'; /* Use the same font name as in your CSS class */
    src: url('../public/BHamid.ttf') format('truetype'); /* Adjust the path as needed */

  }
@font-face {
    font-family: 'BHamid1'; /* Use the same font name as in your CSS class */
    src: url('../public/BHamid1.ttf') format('truetype'); /* Adjust the path as needed */

  }
@font-face {
    font-family: 'DTPN3'; /* Use the same font name as in your CSS class */
    src: url('../public/DTPN3.ttf') ; /* Adjust the path as needed */

  }

/* Add smooth scrolling */
html {
    scroll-behavior: smooth;
  }
  
  /* Scrollbar Styles */
  /* width */
  ::-webkit-scrollbar {
    width: .4px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F3EEEA;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B0A695;
    border-radius: 1px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #B0A695;
  }